
@{
    ViewData["Title"] = "GetRandomRecipe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--We use razor to help collect the list that has been passed to us from the Home Controller-->
@model Recipes
<!--This table is used to display the data from the list-->
<table class=" table table-striped">
    <tr>color="white">@Model.Title</></tr>
    <tr>
        <th style="text-align:left" class="align-middle"><h2>Recipe Ingredients</h2></th>
        <th style="text-align:left" class="align-middle"><h2>Recipe Name</h2></th>
        <th style="text-align:left" class="align-middle"><h2>Category</h2></th>
    </tr>


    @foreach (var options in Model.extendedIngredients)
        {
    <tr>
        <td> @options.original</td>
    </tr>
        }
    @foreach (var step in Model.AnalyzedInstructions[0].steps)
        {
    <tr>
        <td>
            @step.number<br>
            @foreach (var ingred in step.ingredients)
        {
            @ingred.name<br />
        }<br>
        </td>
        <td>
            @step.step<br>
        </td>
    </tr>
        }
    <image src=@Model.Image>

        <tr>
            <td></td>
        </tr>

</table>
<section>
    <button onclick="window.location.reload();" class="form-control btn-primary col-12 col-6">NAH, TRY AGAIN</button>
</section>
<br />
<section>
    <button onclick="location.href='@Url.Action("ToSaveRecipe", "SaveUserChoice", new {recipeId = Model.Id, cuisine = Model.cuisines})'" class="form-control btn-success col-12 col-6">ON TO THE DRINK</button>
</section>