
@{
    ViewData["Title"] = "GetRandomRecipe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--We use razor to help collect the list that has been passed to us from the Home Controller-->
@model Recipes
<!--This table is used to display the data from the list-->
<table class=" table table-striped">
    <tr><font color="white">@Model.Title</font></tr>
    <tr>
        <th style="text-align:left" class="align-middle"><h2>Recipe Ingredients</h2></th>
        <th style="text-align:left" class="align-middle"><h2>Recipe Name</h2></th>
        <th style="text-align:left" class="align-middle"><h2>Category</h2></th>
    </tr>

    <tr>
        @foreach (var options in Model.extendedIngredients)
        {
            <td> @options.original</td>
        }
        @foreach (var step in Model.AnalyzedInstructions[0].steps)
        {
            <td>
                @step.number<br>
                @foreach (var ingred in step.ingredients)
                {
                    @ingred.name<br />
                }<br>
                @step.step<br>
            </td>
        }
        <td><image src=@Model.Image></td>
    </tr>

    <tr>
    </tr>

</table>
<section>
    <button onclick="location.href='@Url.Action("Drink", "Drink")'" class="form-control btn-primary col-12 col-6">Drink</button>
</section>
<br />
<section>
    <button onclick="location.href='@Url.Action("SaveRecipeResults", "SaveUserChoice", new { Model.Id, Model.Title})'" class="form-control btn-success col-12 col-6">Save</button>
</section>